.dialog{
    padding-bottom: 5px;
}

.dialog a{
    text-decoration: none;
    color: #000;
    transition: 0.2s ease;
    font-weight: 600;
}

.dialog a:hover{
    color: #ff4444;
    transition: 0.2s ease;
}

.dialog .active {
    color: #ff4444;
}
