.formControl {
    display: flex;
    margin-bottom: 10px;
}

.formControl.error textarea,
.formControl.error input {
    border: 2px red solid;
}

.formControl.error span {
    margin-left: 5px;
    align-self: center;
    color: red;
}

.formSummaryError {
    margin: 10px;
    text-align: center;
    max-width: 50%;
    border: red 1px solid;
    padding: 5px;
    color: red;
}