.nav {
  grid-area: nav;

  background-color: #e2b85d;
}

.nav a {
  text-decoration: none;

  padding-left: 10px;
}

.item {
  color: #000;;
}

.active {
  color: #777;
}

.nav a:hover {
  color: #fff;
  transition: 0.2s ease;
}

.active {
  color: gold;
}

