.nav {
  grid-area: nav;

  background-color: #e2b85d;
}

.nav a {
  text-decoration: none;
  color: #000;
  padding-left: 10px;
  padding-top: 10px;
}

.item {
  color: ;
}

.active {
  color: #777;
}

.nav a:hover {
  color: #fff;
  transition: 0.2s ease;
}