
.profilebg img {
  min-width: 100%;
  object-fit: cover;
  max-height: 200px;
}

.descriptionBlock{
  margin: 20px 0 0 0;
  display: flex;
  justify-content: space-around;
  font-family: 'Roboto', sans-serif;
  min-height: 450px;
}

.userInfo {
  display: flex;
  flex-direction: column;
  align-self: center;
}

.userName p {
  margin: 8px 0 0 0;
}

.userImg {
  display: flex;
  flex-direction: column;

  /* align-items: center; */
}

.userImg input {
  margin-top: 15px;
}

.userInfo div {
  margin: 5px 0 5px 0;
}
.userInfo button {
  width: 100px;
}

.userContacts {
  margin-top: 10px;
}

.userContacts h4 {
  display: flex;
  margin: 10px 0 15px 0;
}

.userContacts p {
  margin: 0 10px 10px 0;
}

.userContactItem {
  display: flex;
  align-items: center;
}

