body{
  background-color: #efe9e2;
    font-family: Roboto, sans-serif;
}

.app-wrapper {
  display: grid;

  grid-template-areas:
    "header header header"
    "nav con con";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 10px;

  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;


}


.app-wrapper-content {
  grid-area: con;
  
  /* background-color: #ec9703; */
}